!include include/default_my.cnf

[openai]
listen = @ENV.OPENAI_PORT
success_filename = @ENV.MTR_SUITE_DIR/json_responses/openai_response_ada_002.json
wrong_json_path_filename = @ENV.MTR_SUITE_DIR/json_responses/wrong_json_path.json

[ENV]
OPENAI_PORT = @OPT.port