#
# These groups are read by MariaDB command-line tools
# Use it for options that affect only one utility
#

[mysql]

[mariadb-upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]

[mysqlimport]

[mysqlshow]

[mysqlslap]
