#
# * Galera-related settings
#
# See the examples of server wsrep.cnf files in /usr/share/mariadb and read
# more at https://mariadb.com/kb/en/galera-cluster/ and
# https://mariadb.com/kb/en/configuring-mariadb-galera-cluster/

[galera]
#wsrep_cluster_name       = "MariaDB Galera Cluster"

# Mandatory settings
#wsrep_provider           = /usr/lib/galera/libgalera_smm.so
#wsrep_cluster_address    = gcomm://
#binlog_format            = ROW
#wsrep_on                 = ON
#default_storage_engine   = InnoDB

# Allow server to accept connections on all interfaces.
#bind-address = 0.0.0.0

# Performance related settings
#innodb_autoinc_lock_mode = 2
#innodb_flush_log_at_trx_commit = 0
#wsrep_slave_threads = 1
