[submodule "libmariadb"]
	path = libmariadb
	url = https://github.com/MariaDB/mariadb-connector-c.git
[submodule "storage/rocksdb/rocksdb"]
	path = storage/rocksdb/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "wsrep-lib"]
	path = wsrep-lib
	url = https://github.com/codership/wsrep-lib.git
	branch = master
[submodule "extra/wolfssl/wolfssl"]
	path = extra/wolfssl/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "storage/maria/libmarias3"]
	path = storage/maria/libmarias3
	url = https://github.com/mariadb-corporation/libmarias3.git
[submodule "storage/columnstore/columnstore"]
	path = storage/columnstore/columnstore
	url = https://github.com/mariadb-corporation/mariadb-columnstore-engine.git
