version: build-{build}~branch-{branch}

clone_depth: 1

build_script:
  # dump some system info
  - echo  processor='%PROCESSOR_IDENTIFIER%' , processor count= %NUMBER_OF_PROCESSORS%
  - cd %APPVEYOR_BUILD_FOLDER%
  - mkdir _build
  - cd _build
  - set BUILD_TYPE=MinSizeRel
  - set GENERATOR=-GNinja
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
  - cmake -E time cmake %GENERATOR% .. -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -DMYSQL_MAINTAINER_MODE=ERR -DFAST_BUILD=1 -DBISON_EXECUTABLE=C:\cygwin64\bin\bison -DWITHOUT_DYNAMIC_PLUGINS=1 -DPLUGIN_PERFSCHEMA=NO -DPLUGIN_FEEDBACK=NO  -DWITH_UNIT_TESTS=0 -DWITH_MARIABACKUP=0
  - set /A jobs=2*%NUMBER_OF_PROCESSORS%
  - cmake -E time cmake --build . -j %jobs% --config %BUILD_TYPE%

test_script:
  - set PATH=C:\Strawberry\perl\bin;%PATH%;C:\Program Files (x86)\Windows Kits\10\Debuggers\x64
  - cd %APPVEYOR_BUILD_FOLDER%\_build\mysql-test
  - set /A parallel=4*%NUMBER_OF_PROCESSORS%
  - perl mysql-test-run.pl --force --max-test-fail=10 --retry=2 -parallel=%parallel% --testcase-timeout=3 --suite=main  --skip-test-list=%APPVEYOR_BUILD_FOLDER%\win\appveyor_skip_tests.txt --mysqld=--loose-innodb-flush-log-at-trx-commit=2

image: Visual Studio 2019
