# Use default setting for mysqld processes
!include include/default_mysqld.cnf

[mysqld.1.1]
loose_handlersocket_port=                20000
loose_handlersocket_port_wr=             20001
loose_handlersocket_threads=             2
loose_handlersocket_threads_wr=          1
loose_handlersocket_support_merge_table= 0
loose_handlersocket_direct_update_mode=  2
loose_handlersocket_unlimited_boundary=  65536
loose_handlersocket_bulk_insert=         0
loose_handlersocket_bulk_insert_timeout= 0
loose_handlersocket_general_log=         1
loose_handlersocket_timeout=             30
loose_handlersocket_close_table_interval=2
open_files_limit=                        4096
loose_partition=                         1

[mysqld.2.1]
loose_handlersocket_port=                20002
loose_handlersocket_port_wr=             20003
loose_handlersocket_threads=             2
loose_handlersocket_threads_wr=          1
loose_handlersocket_support_merge_table= 0
loose_handlersocket_direct_update_mode=  2
loose_handlersocket_unlimited_boundary=  65536
loose_handlersocket_bulk_insert=         0
loose_handlersocket_bulk_insert_timeout= 0
loose_handlersocket_general_log=         1
loose_handlersocket_timeout=             30
loose_handlersocket_close_table_interval=2
open_files_limit=                        4096

[mysqld.2.2]
loose_handlersocket_port=                20004
loose_handlersocket_port_wr=             20005
loose_handlersocket_threads=             2
loose_handlersocket_threads_wr=          1
loose_handlersocket_support_merge_table= 0
loose_handlersocket_direct_update_mode=  2
loose_handlersocket_unlimited_boundary=  65536
loose_handlersocket_bulk_insert=         0
loose_handlersocket_bulk_insert_timeout= 0
loose_handlersocket_general_log=         1
loose_handlersocket_timeout=             30
loose_handlersocket_close_table_interval=2
open_files_limit=                        4096

[mysqld.2.3]

[mysqld.3.1]
loose_partition=                         1

[mysqld.3.2]
loose_partition=                         1

[mysqld.3.3]
loose_partition=                         1

[mysqld.4.1]
loose_partition=                         1


[ENV]
USE_GEOMETRY_TEST=        1
USE_FULLTEXT_TEST=        1
USE_HA_TEST=              1
USE_GENERAL_LOG=          1
USE_REPLICATION=          1
MASTER_1_MYPORT=          @mysqld.1.1.port
MASTER_1_HSRPORT=         20000
MASTER_1_HSWPORT=         20001
MASTER_1_MYSOCK=          @mysqld.1.1.socket
MASTER_1_ENGINE_TYPE=     Spider
#MASTER_1_ENGINE_TYPE=     MyISAM
MASTER_1_ENGINE=          ENGINE=Spider
MASTER_1_CHARSET=         DEFAULT CHARSET=utf8
MASTER_1_ENGINE2=         ENGINE=MyISAM
MASTER_1_CHARSET2=        DEFAULT CHARSET=utf8
MASTER_1_CHARSET3=        DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci
SLAVE1_1_MYPORT=          @mysqld.4.1.port
SLAVE1_1_MYSOCK=          @mysqld.4.1.socket
SLAVE1_1_ENGINE_TYPE=     MyISAM
SLAVE1_1_ENGINE=          ENGINE=MyISAM
SLAVE1_1_CHARSET=         DEFAULT CHARSET=utf8
USE_CHILD_GROUP2=         1
OUTPUT_CHILD_GROUP2=      0
CHILD2_1_MYPORT=          @mysqld.2.1.port
CHILD2_1_HSRPORT=         20002
CHILD2_1_HSWPORT=         20003
CHILD2_1_MYSOCK=          @mysqld.2.1.socket
CHILD2_1_ENGINE_TYPE=     InnoDB
CHILD2_1_ENGINE=          ENGINE=InnoDB
CHILD2_1_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_1_CHARSET2=        DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci
CHILD2_2_MYPORT=          @mysqld.2.2.port
CHILD2_2_HSRPORT=         20004
CHILD2_2_HSWPORT=         20005
CHILD2_2_MYSOCK=          @mysqld.2.2.socket
CHILD2_2_ENGINE_TYPE=     InnoDB
CHILD2_2_ENGINE=          ENGINE=InnoDB
CHILD2_2_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_3_MYPORT=          @mysqld.2.3.port
CHILD2_3_MYSOCK=          @mysqld.2.3.socket
CHILD2_3_ENGINE_TYPE=     InnoDB
CHILD2_3_ENGINE=          ENGINE=InnoDB
CHILD2_3_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_1_FT_MYPORT=       @mysqld.1.1.port
CHILD2_1_FT_MYSOCK=       @mysqld.1.1.socket
CHILD2_1_FT_ENGINE_TYPE=  MyISAM
CHILD2_1_FT_ENGINE=       ENGINE=MyISAM
CHILD2_1_FT_CHARSET=      DEFAULT CHARSET=utf8
CHILD2_2_FT_MYPORT=       @mysqld.2.2.port
CHILD2_2_FT_MYSOCK=       @mysqld.2.2.socket
CHILD2_2_FT_ENGINE_TYPE=  MyISAM
CHILD2_2_FT_ENGINE=       ENGINE=MyISAM
CHILD2_2_FT_CHARSET=      DEFAULT CHARSET=utf8
CHILD2_1_GM_MYPORT=       @mysqld.2.1.port
CHILD2_1_GM_MYSOCK=       @mysqld.2.1.socket
CHILD2_1_GM_ENGINE_TYPE=  MyISAM
CHILD2_1_GM_ENGINE=       ENGINE=MyISAM
CHILD2_1_GM_CHARSET=      DEFAULT CHARSET=utf8
CHILD2_2_GM_MYPORT=       @mysqld.2.2.port
CHILD2_2_GM_MYSOCK=       @mysqld.2.2.socket
CHILD2_2_GM_ENGINE_TYPE=  MyISAM
CHILD2_2_GM_ENGINE=       ENGINE=MyISAM
CHILD2_2_GM_CHARSET=      DEFAULT CHARSET=utf8
USE_CHILD_GROUP3=         1
OUTPUT_CHILD_GROUP3=      0
CHILD3_1_MYPORT=          @mysqld.3.1.port
CHILD3_1_MYSOCK=          @mysqld.3.1.socket
CHILD3_1_ENGINE_TYPE=     InnoDB
CHILD3_1_ENGINE=          ENGINE=InnoDB
CHILD3_1_CHARSET=         DEFAULT CHARSET=utf8
CHILD3_2_MYPORT=          @mysqld.3.2.port
CHILD3_2_MYSOCK=          @mysqld.3.2.socket
CHILD3_2_ENGINE_TYPE=     InnoDB
CHILD3_2_ENGINE=          ENGINE=InnoDB
CHILD3_2_CHARSET=         DEFAULT CHARSET=utf8
CHILD3_3_MYPORT=          @mysqld.3.3.port
CHILD3_3_MYSOCK=          @mysqld.3.3.socket
CHILD3_3_ENGINE_TYPE=     InnoDB
CHILD3_3_ENGINE=          ENGINE=InnoDB
CHILD3_3_CHARSET=         DEFAULT CHARSET=utf8

STR_SEMICOLON=            ;

#The followings are set in include/init_xxx.inc files
# MASTER_1_COMMENT_2_1
# MASTER_1_COMMENT2_2_1
# MASTER_1_COMMENT3_2_1
# MASTER_1_COMMENT4_2_1
# MASTER_1_COMMENT5_2_1
# MASTER_1_COMMENT_P_2_1
# CHILD2_1_DROP_TABLES
# CHILD2_1_CREATE_TABLES
# CHILD2_1_SELECT_TABLES
# CHILD2_1_DROP_TABLES2
# CHILD2_1_CREATE_TABLES2
# CHILD2_1_SELECT_TABLES2
# CHILD2_1_DROP_TABLES3
# CHILD2_1_CREATE_TABLES3
# CHILD2_1_SELECT_TABLES3
# CHILD2_1_DROP_TABLES4
# CHILD2_1_CREATE_TABLES4
# CHILD2_1_SELECT_TABLES4
# CHILD2_1_DROP_TABLES5
# CHILD2_1_CREATE_TABLES5
# CHILD2_1_SELECT_TABLES5
# CHILD2_1_DROP_TABLES6
# CHILD2_1_CREATE_TABLES6
# CHILD2_1_SELECT_TABLES6
# CHILD2_2_DROP_TABLES
# CHILD2_2_CREATE_TABLES
# CHILD2_2_SELECT_TABLES
