# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf
!include my_1_1.cnf
!include my_2_1.cnf
!include my_2_2.cnf
!include my_2_3.cnf
!include my_3_1.cnf
!include my_3_2.cnf
!include my_3_3.cnf
!include my_4_1.cnf
