[mysqld.23]
loose_partition=          1

[ENV]
CHILD2_3_MYPORT=          @mysqld.23.port
CHILD2_3_MYSOCK=          @mysqld.23.socket
CHILD2_3_ENGINE_TYPE=     InnoDB
CHILD2_3_ENGINE=          ENGINE=InnoDB
CHILD2_3_CHARSET=         DEFAULT CHARSET=utf8
