!include ../galera_2nodes.cnf

[mysqld]
wsrep-debug=1

[mysqld.2]
wsrep_buffered_error_log_buffer_size=100Kb
wsrep_buffered_error_log_file_size=1M
wsrep_buffered_error_log_filename="galera_buffered_error_log.err"
