!include ../galera_2nodes.cnf

[mysqld.1]
secure-file-priv = ""
innodb_file_per_table = ON
innodb_stats_persistent=ON
innodb_stats_auto_recalc=ON
innodb_stats_persistent_sample_pages=20
innodb_stats_transient_sample_pages=8
skip-innodb-read-only-compressed

[mysqld.2]
secure-file-priv = ""
innodb_file_per_table = ON
innodb_stats_persistent=ON
innodb_stats_auto_recalc=ON
innodb_stats_persistent_sample_pages=20
innodb_stats_transient_sample_pages=8
skip-innodb-read-only-compressed
