!include ../galera_2nodes_as_replica_2primary.cnf

[mysqld]
wsrep-debug=1

[mysqld.1]
server_id=15
wsrep_gtid_mode=1
wsrep_gtid_domain_id=16
gtid_domain_id=11
gtid_strict_mode=1
wsrep-slave-threads=4
slave-parallel-threads=2

[mysqld.2]
skip-slave-start=OFF
server_id=15
wsrep_gtid_mode=1
wsrep_gtid_domain_id=16
gtid_domain_id=11
gtid_strict_mode=1
wsrep-slave-threads=4
