!include ../galera_2nodes.cnf

[mysqld]
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
wsrep_debug=ON
innodb_safe_truncate=OFF
innodb_undo_logs=1

[xtrabackup]
backup-locks
close-files
#compact - disabled in xtrabackup 2.4, https://bugs.launchpad.net/percona-xtrabackup/+bug/1192834/comments/29
# compression requires qpress from the Percona repositories
# compress
# compress-threads=2
encryption=AES256
encrypt-key=4FA92C5873672E20FB163A0BCB2BB4A4
galera-info
history=backup
parallel=2

[SST]
encrypt=1
encrypt-algo=AES256
encrypt-key=4FA92C5873672E20FB163A0BCB2BB4A4
transferfmt=@ENV.MTR_GALERA_TFMT
