Tests: smoke
# RocksDB is not built for all archs. Rather than duplicating the condition
# for its existence (see the list in debian/control), install it if available
# and check in the test if it's functional when it should be.
# The plugin package also already depends on the other one.
Depends: mariadb-plugin-rocksdb | mariadb-server,
         mariadb-plugin-provider-bzip2,
         mariadb-plugin-provider-lz4,
         mariadb-plugin-provider-lzma,
         mariadb-plugin-provider-lzo,
         mariadb-plugin-provider-snappy
Restrictions: allow-stderr needs-root isolation-container

Tests: upstream
Depends: mariadb-test, eatmydata
Restrictions: allow-stderr breaks-testbed
