!include include/default_my.cnf

[ENV]
DAEMON_MEMCACHED_PORT_0 = @OPT.port
DAEMON_MEMCACHED_PORT_1 = @OPT.port
DAEMON_MEMCACHED_PORT_2 = @OPT.port
DAEMON_MEMCACHED_PORT_3 = @OPT.port
DAEMON_MEMCACHED_PORT_4 = @OPT.port
DAEMON_MEMCACHED_PORT_5 = @OPT.port
DAEMON_MEMCACHED_PORT_6 = @OPT.port
DAEMON_MEMCACHED_PORT_7 = @OPT.port
