!include include/default_my.cnf

[server]
skip-innodb
default-storage-engine=rocksdb

sql-mode=NO_ENGINE_SUBSTITUTION
explicit-defaults-for-timestamp=1
loose-rocksdb_lock_wait_timeout=1
loose-rocksdb_strict_collation_check=0

# MariaDB: speed up the tests:
loose-rocksdb-flush-log-at-trx-commit=0

loose-rocksdb_force_compute_memtable_stats_cachetime=0

# The following is to get rid of the harmless 
# "Deadlock found when trying to get lock" errors, see MDEV-12285.
log-warnings=1
