[mysqld.32]
loose_partition=                         1

[ENV]
CHILD3_2_MYPORT=          @mysqld.32.port
CHILD3_2_MYSOCK=          @mysqld.32.socket
CHILD3_2_ENGINE_TYPE=     InnoDB
CHILD3_2_ENGINE=          ENGINE=InnoDB
CHILD3_2_CHARSET=         DEFAULT CHARSET=utf8
