[mysqld]
port = 13308
basedir = /root/mariadb_server/mysql_build_output/build
datadir = /root/mariadb_server/mysql_build_output/data
socket = /root/mariadb_server/mysql_build_output/tmp/mysql.sock
bind-address = 0.0.0.0
sql_mode = NO_ENGINE_SUBSTITUTION
skip_ssl = 1
skip-external-locking
skip-name-resolve

[mysql]
port = 13308
socket = /root/mariadb_server/mysql_build_output/tmp/mysql.sock
skip-ssl

[client]
port = 13308
socket = /root/mariadb_server/mysql_build_output/tmp/mysql.sock
skip-ssl