Source: mariadb-10.0
Section: misc
Priority: optional
Maintainer: MariaDB Developers <maria-developers@lists.launchpad.net>
XSBC-Original-Maintainer: Maria Developers <maria-developers@lists.launchpad.net>
Uploaders: MariaDB Developers <maria-developers@lists.launchpad.net>
Build-Depends: bison,
               chrpath,
               debhelper,
               dpatch,
               gawk,
               libjemalloc-dev (>= 3.0.0),
               libncurses5-dev (>= 5.0-6),
               libpam0g-dev,
               libssl-dev,
               libwrap0-dev (>= 7.6-8.3),
               lsb-release,
               perl (>= 5.6.0),
               po-debconf,
               procps | hurd,
               psmisc,
               zlib1g-dev (>= 1:1.1.3-5),
               ${CMAKE_DEP}libaio-dev,
               ${LIBREADLINE_DEV}
Standards-Version: 3.8.3
Homepage: http://mariadb.org/
Vcs-Browser: https://github.com/MariaDB/server/
Vcs-Git: https://github.com/MariaDB/server.git

Package: mariadb-galera-test-10.0
Section: database
Architecture: any
Depends: mariadb-galera-server-10.0 (= ${source:Version}),
         mariadb-client-10.0 (>= ${source:Version})
Suggests: patch
Conflicts: mariadb-test,
           mariadb-galera-test (<< ${source:Version}),
           mariadb-test-5.1,
           mariadb-test-5.2,
           mariadb-test-5.3,
           mariadb-test-5.5,
           mariadb-test-10.0,
           mariadb-server-5.5,
           mariadb-galera-server-5.5,
           mariadb-server-10.0
Replaces: mariadb-test (<< ${source:Version}),
          mariadb-galera-test (<< ${source:Version}),
          mariadb-test-5.1,
          mariadb-test-5.2,
          mariadb-test-5.3,
          mariadb-test-5.5
Description: MariaDB database regression test suite
 MariaDB is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MariaDB are speed, robustness and
 ease of use.
 .
 This package includes the regression test suite.

Package: mariadb-galera-server-10.0
Architecture: any
Suggests: mailx, mariadb-galera-test, tinyca, netcat-openbsd, socat
Recommends: libhtml-template-perl
Pre-Depends: mariadb-common, adduser (>= 3.40), debconf
Depends: bsdutils,
         libdbi-perl,
         lsb-base (>= 3.0-10),
         mariadb-client-10.0 (>= ${source:Version}),
         passwd,
         perl (>= 5.6),
         psmisc,
         ${misc:Depends},
         ${shlibs:Depends},
         libmariadbclient18 (>= ${binary:Version}),
         coreutils,
         findutils,
         galera-3 (>=25.3),
         gawk,
         grep,
         iproute,
         lsof,
         rsync,
         tar
Provides: mariadb-server,
          mariadb-galera-server,
          mysql-server,
          virtual-mysql-server,
          mysql-server-core,
          mysql-server-core-5.1,
          mysql-server-core-5.5,
          mysql-server-core-10.0
Conflicts: mariadb-galera-server (<< ${source:Version}),
           mariadb-server,
           mariadb-server-5.1,
           mariadb-server-5.2,
           mariadb-server-5.3,
           mariadb-server-5.5,
           mariadb-tokudb-engine-10.0,
           mariadb-tokudb-engine-5.5,
           mysql-server (<< ${source:Version}),
           mysql-server-4.1,
           mysql-server-5.0,
           mysql-server-5.1,
           mysql-server-5.5,
           mysql-server-5.6,
           mariadb-server-core-5.1,
           mariadb-server-core-5.2,
           mariadb-server-core-5.5,
           mariadb-server-core-10.0,
           mysql-server-core-5.0,
           mysql-server-core-5.1,
           mysql-server-core-5.5,
           mysql-server-core-5.6
Replaces: libmariadbclient-dev (<< 5.5.0),
          libmariadbclient16 (<< 5.3.4),
          mariadb-galera-server (<< ${source:Version}),
          mariadb-server,
          mariadb-server-5.1,
          mariadb-server-5.2,
          mariadb-server-5.3,
          mariadb-server-5.5,
          mariadb-tokudb-engine-10.0,
          mariadb-tokudb-engine-5.5,
          mysql-server,
          mysql-server-4.1,
          mysql-server-5.0,
          mysql-server-5.1,
          mysql-server-5.5,
          mysql-server-5.6,
          mariadb-server-core-5.1,
          mariadb-server-core-5.2,
          mariadb-server-core-5.5,
          mariadb-server-core-10.0,
          mysql-server-core-5.0,
          mysql-server-core-5.1,
          mysql-server-core-5.5,
          mysql-server-core-5.6
Description: MariaDB database server with Galera cluster binaries
 MariaDB is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MariaDB are speed, robustness and
 ease of use.
 .
 This package includes the server binaries.

Package: mariadb-galera-server
Section: database
Architecture: all
Depends: mariadb-galera-server-10.0 (= ${source:Version}), ${misc:Depends}
Description: MariaDB database server with Galera cluster (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mariadb-galera-server (currently mariadb-galera-server-10.0), as determined by the MariaDB
 maintainers. Install this package if in doubt about which MariaDB-Galera
 version you need. That will install the version recommended by the
 package maintainers.
 .
 MariaDB is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MariaDB are speed, robustness and
 ease of use.

Package: mariadb-client
Section: database
Architecture: all
Depends: mariadb-client-10.0 (= ${source:Version}), ${misc:Depends}
Description: MariaDB database client (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mariadb-client (currently mariadb-client-10.0), as determined by the MariaDB
 maintainers.  Install this package if in doubt about which MariaDB version
 you want, as this is the one we consider to be in the best shape.

Package: mariadb-galera-test
Section: database
Architecture: all
Depends: mariadb-galera-test-10.0 (= ${source:Version})
Description: MariaDB database regression test suite (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mariadb-galera-test (currently mariadb-galera-test-10.0), as determined by the MariaDB
 maintainers.