!include ../galera_2x3nodes.cnf

[mysqld.1]
wsrep_gtid_domain_id=1
server-id=11

[mysqld.2]
wsrep_gtid_domain_id=1
server-id=12

[mysqld.3]
wsrep_gtid_domain_id=1
server-id=13

[mysqld.4]
wsrep_gtid_domain_id=2
server-id=21

[mysqld.5]
wsrep_gtid_domain_id=2
server-id=22

[mysqld.6]
wsrep_gtid_domain_id=2
server-id=23