!include ../galera_3nodes.cnf

[mysqld]
wsrep_sst_method=rsync

[mysqld.1]
wsrep_node_name='node.1'
wsrep_provider_options='base_port=@mysqld.1.#galera_port;socket.ssl=yes;socket.ssl_cert=@ENV.MYSQL_TEST_DIR/std_data/galera-cert.pem;socket.ssl_key=@ENV.MYSQL_TEST_DIR/std_data/galera-key.pem;socket.dynamic=true'

[mysqld.2]
wsrep_node_name='node.2'
wsrep_provider_options='base_port=@mysqld.2.#galera_port'

[mysqld.3]
wsrep_node_name='node.3'
wsrep_provider_options='base_port=@mysqld.3.#galera_port;socket.ssl=yes;socket.ssl_cert=@ENV.MYSQL_TEST_DIR/std_data/galera-cert.pem;socket.ssl_key=@ENV.MYSQL_TEST_DIR/std_data/galera-key.pem;socket.dynamic=true'
