!include ../galera_3nodes.cnf

[mysqld.1]
wsrep_provider_options='base_port=@mysqld.1.#galera_port'
wsrep_ignore_apply_errors=0
wsrep_slave_threads=3

[mysqld.2]
wsrep_provider_options='base_port=@mysqld.2.#galera_port'
wsrep_ignore_apply_errors=0
wsrep_slave_threads=3

[mysqld.3]
wsrep_provider_options='base_port=@mysqld.3.#galera_port'
wsrep_ignore_apply_errors=0
wsrep_slave_threads=3
