!include include/default_my.cnf

[mysqld]
plugin-maturity=experimental
plugin-load-add=ha_duckdb.so
duckdb_dml_in_batch=OFF
duckdb_allow_run_in_duckdb=ON
character-set-server=utf8mb4

[mysqld.1]
innodb
