!include suite/rpl/rpl_1slave_base.cnf
!include include/default_client.cnf


[mysqld.1]
log-slave-updates
gtid-strict-mode=1
sync-binlog=1

[mysqld.2]
log-slave-updates
gtid-strict-mode=1
sync-binlog=1
