!include ../my.cnf

[mysqld.1]
gtid_domain_id=0
server_id=1
max_allowed_packet=1KB
group_concat_max_len=12GB
innodb-buffer-pool-size=32G

[mysqld.2]
gtid_domain_id=1
server_id=2
log_slave_updates
max_allowed_packet=1KB
group_concat_max_len=12GB
innodb-buffer-pool-size=32G

[mysqld.3]
gtid_domain_id=2
server_id=3
log_slave_updates
max_allowed_packet=1KB
group_concat_max_len=12GB
innodb-buffer-pool-size=32G

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket
