# Use default setting for mysqld processes
!include include/default_mysqld.cnf

[mysqld]
wsrep-on=1
binlog-format=row
innodb-autoinc-lock-mode=2
wsrep-cluster-address=gcomm://
wsrep_provider=@ENV.WSREP_PROVIDER

[mysqld.1]
#galera_port=@OPT.port
#sst_port=@OPT.port
wsrep-on=1
wsrep_provider_options='base_port=@mysqld.1.#galera_port'
wsrep_sst_receive_address='127.0.0.1:@mysqld.1.#sst_port'
wsrep_node_name=test-node-1

[mysqld.2]
#galera_port=@OPT.port
#sst_port=@OPT.port
wsrep-on=1
wsrep_cluster_address='gcomm://127.0.0.1:@mysqld.1.#galera_port'
wsrep_provider_options='base_port=@mysqld.2.#galera_port'
wsrep_sst_receive_address='127.0.0.1:@mysqld.2.#sst_port'
wsrep_node_name=test-node-2

[ENV]
NODE_MYPORT_1= @mysqld.1.port
NODE_MYSOCK_1= @mysqld.1.socket

NODE_MYPORT_2= @mysqld.2.port
NODE_MYSOCK_2= @mysqld.2.socket

