!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]
innodb
plugin-load-add= @ENV.FILE_KEY_MANAGEMENT_SO
loose-file-key-management-filename= @ENV.MYSQLTEST_VARDIR/std_data/keys.txt
encrypt-binlog
log-basename= master

[mysqld.2]
#!use-slave-opt
innodb
log-slave-updates
log-basename= slave

[ENV]

# We will adopt tests with master-slave setup as well as rpl_init setup,
# so need both sets of variables
MASTER_MYPORT=   @mysqld.1.port
SERVER_MYPORT_1= @mysqld.1.port
SERVER_MYSOCK_1= @mysqld.1.socket

SLAVE_MYPORT=    @mysqld.2.port
SERVER_MYPORT_2= @mysqld.2.port
SERVER_MYSOCK_2= @mysqld.2.socket
