!include my.cnf

[mysqld.1]
log-bin
log-slave-updates

[mysqld.2]
log-bin
log-slave-updates

[mysqld.3]
log-bin
log-slave-updates

[mysqld.4]
server-id=4
log-bin=server4-bin
log-slave-updates
m1.replicate_ignore_table='a.t1'
m2.replicate_ignore_table='b.t1'
replicate_ignore_table='c.t1'

[ENV]
SERVER_MYPORT_4=       @mysqld.4.port
SERVER_MYSOCK_4=       @mysqld.4.socket
