# cat t/multisource1.cnf
!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]
server-id=1
log-bin=master-bin
log-warnings=2

[mysqld.2]
server-id=2
log-bin=master-bin
log-warnings=2

[mysqld.3]
server-id=3
log-warnings=2

[ENV]
MASTER_MYPORT=   @mysqld.1.port
SERVER_MYPORT_1= @mysqld.1.port
SERVER_MYSOCK_1= @mysqld.1.socket
SERVER_MYPORT_2= @mysqld.2.port
SERVER_MYSOCK_2= @mysqld.2.socket
SERVER_MYPORT_3= @mysqld.3.port
SERVER_MYSOCK_3= @mysqld.3.socket
