# Use default setting for mysqld processes
!include include/default_mysqld.cnf

[mysqld.1.1]

[mysqld.4.1]


[ENV]
USE_GEOMETRY_TEST=        1
USE_FULLTEXT_TEST=        1
USE_HA_TEST=              0
USE_GENERAL_LOG=          1
USE_REPLICATION=          1
MASTER_1_MYPORT=          @mysqld.1.1.port
MASTER_1_MYSOCK=          @mysqld.1.1.socket
MASTER_1_ENGINE_TYPE=     VP
MASTER_1_ENGINE=          ENGINE=VP
MASTER_1_CHARSET=         DEFAULT CHARSET=utf8
MASTER_1_MERGE=           1
MASTER_1_NEEDPK=          1
MASTER_1_ENGINE2=         ENGINE=MyISAM
MASTER_1_CHARSET2=        DEFAULT CHARSET=utf8
MASTER_1_CHARSET3=        DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci
SLAVE1_1_MYPORT=          @mysqld.4.1.port
SLAVE1_1_MYSOCK=          @mysqld.4.1.socket
SLAVE1_1_ENGINE_TYPE=     MyISAM
SLAVE1_1_ENGINE=          ENGINE=MyISAM
SLAVE1_1_CHARSET=         DEFAULT CHARSET=utf8
USE_CHILD_GROUP2=         1
OUTPUT_CHILD_GROUP2=      0
CHILD2_1_MYPORT=          @mysqld.1.1.port
CHILD2_1_MYSOCK=          @mysqld.1.1.socket
CHILD2_1_ENGINE_TYPE=     InnoDB
CHILD2_1_ENGINE=          ENGINE=InnoDB
CHILD2_1_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_1_CHARSET2=        DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci
CHILD2_2_MYPORT=          @mysqld.1.1.port
CHILD2_2_MYSOCK=          @mysqld.1.1.socket
CHILD2_2_ENGINE_TYPE=     InnoDB
CHILD2_2_ENGINE=          ENGINE=InnoDB
CHILD2_2_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_3_MYPORT=          @mysqld.1.1.port
CHILD2_3_MYSOCK=          @mysqld.1.1.socket
CHILD2_3_ENGINE_TYPE=     InnoDB
CHILD2_3_ENGINE=          ENGINE=InnoDB
CHILD2_3_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_1_FT_MYPORT=       @mysqld.1.1.port
CHILD2_1_FT_MYSOCK=       @mysqld.1.1.socket
CHILD2_1_FT_ENGINE_TYPE=  MyISAM
CHILD2_1_FT_ENGINE=       ENGINE=MyISAM
CHILD2_1_FT_CHARSET=      DEFAULT CHARSET=utf8
CHILD2_2_FT_MYPORT=       @mysqld.1.1.port
CHILD2_2_FT_MYSOCK=       @mysqld.1.1.socket
CHILD2_2_FT_ENGINE_TYPE=  MyISAM
CHILD2_2_FT_ENGINE=       ENGINE=MyISAM
CHILD2_2_FT_CHARSET=      DEFAULT CHARSET=utf8
CHILD2_1_GM_MYPORT=       @mysqld.1.1.port
CHILD2_1_GM_MYSOCK=       @mysqld.1.1.socket
CHILD2_1_GM_ENGINE_TYPE=  MyISAM
CHILD2_1_GM_ENGINE=       ENGINE=MyISAM
CHILD2_1_GM_CHARSET=      DEFAULT CHARSET=utf8
CHILD2_2_GM_MYPORT=       @mysqld.1.1.port
CHILD2_2_GM_MYSOCK=       @mysqld.1.1.socket
CHILD2_2_GM_ENGINE_TYPE=  MyISAM
CHILD2_2_GM_ENGINE=       ENGINE=MyISAM
CHILD2_2_GM_CHARSET=      DEFAULT CHARSET=utf8
USE_CHILD_GROUP3=         0
OUTPUT_CHILD_GROUP3=      0
CHILD3_1_MYPORT=          @mysqld.1.1.port
CHILD3_1_MYSOCK=          @mysqld.1.1.socket
CHILD3_1_ENGINE_TYPE=     InnoDB
CHILD3_1_ENGINE=          ENGINE=InnoDB
CHILD3_1_CHARSET=         DEFAULT CHARSET=utf8
CHILD3_2_MYPORT=          @mysqld.1.1.port
CHILD3_2_MYSOCK=          @mysqld.1.1.socket
CHILD3_2_ENGINE_TYPE=     InnoDB
CHILD3_2_ENGINE=          ENGINE=InnoDB
CHILD3_2_CHARSET=         DEFAULT CHARSET=utf8
CHILD3_3_MYPORT=          @mysqld.1.1.port
CHILD3_3_MYSOCK=          @mysqld.1.1.socket
CHILD3_3_ENGINE_TYPE=     InnoDB
CHILD3_3_ENGINE=          ENGINE=InnoDB
CHILD3_3_CHARSET=         DEFAULT CHARSET=utf8

STR_SEMICOLON=            ;
